body {
  background-color: #f2e34c;
}

.header {
  text-align: center;
  font-size: 50px;
}
#gameGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 50vw;
  height: 50vh;
  background-color: wheat;
  border-radius: 30px;
  box-shadow: 1px 1px hsl(0, 0%, 27%), 2px 2px hsl(0, 0%, 27%),
    3px 3px hsl(0, 0%, 27%), 4px 4px hsl(0, 0%, 27%), 5px 5px hsl(0, 0%, 27%),
    6px 6px hsl(0, 0%, 27%), 7px 7px hsl(0, 0%, 27%), 8px 8px hsl(0, 0%, 27%);
}

.cell {
  border-bottom: solid black 5px;
  border-right: solid black 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(n + 7) {
  border-bottom: none;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeMessage1 {
  color: blue;
  font-size: 20px;
}

.welcomeMessage2 {
  color: red;
  font-size: 20px;
}

.highlight {
  background-color: lightgreen;
}

.winMessage {
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 100px;
  transform: translate(-50%, -50%);
  color: teal;
  background-color: rgba(242, 227, 76, 0);
  text-align: center;
  transition: 1s;
}

.resetButton {
  display: flex;
}

span {
  color: white;
  transform: scale(1.5);
  transition: 0.4s;
}

span:hover {
  transform: scale(1.2);
  color: teal;
}
